API_BASE_URL=<url>
ESHIPZ_TOKEN=<your_eshipz_api_token>
ESHIPZ_API_TRACKING_URL = <url>
ESHIPZ_CARRIER_PERFORMANCE_URL = <url>
ESHIPZ_API_CREATE_SHIPMENT_URL = <url>
ESHIPZ_API_DOCKET_ALLOCATION_URL = <url>
ESHIPZ_API_ORDERS_URL = <url>